body {
    
    width: 800px;
    margin: 1rem 21rem;
    font-family: system-ui;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 200px;
    letter-spacing: 0.1rem;
}

h2 {
    display: none;
}

h3 {
    min-width: 112px;
    font-style: italic;
    font-size: 0.9rem;
    border-right: solid black;
    margin-right: 1rem;
}

h4 {
    color: #008080;
}

p, ul {
    font-size: 0.8rem;
}

section {
    display: flex;
}

header img {
    height: 200px;
    margin-left: 300px;
}

header figure {
    width: 2px
}

header div {
    display: flex;
    height: 70px;
    border-bottom: solid grey;
}

#wraper div {
    width: 1000px;
    display: flex;
}

#about h3 {
    display: none;
}

#about p {
    font-style: italic;
    color: lightgrey;
    width: 500px;
    margin-bottom: 90px;
}



#competencies h3 {
    grid-area: A ;
    border-right: solid black;
    width: 100px;
    height: 100px;
    margin: 0;
}

.skills {
    display: flex;
    color: white;
    content: "\2605";


}

.skills-primary {
    grid-area: B;
    font-size: 0.8rem;

}

.skills-secondary {
    grid-area: C;
    font-size: 0.4rem;

}

.skill {
    background-color: #008080;
    padding: 3px;
    height: fit-content;
    margin: 0 0rem 0.6rem 0.4rem;
    padding: 5px;
    min-width: 100px;
}

#experiences{
    font-size: 0.8rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
      "A B "
      "A B ";
}

#experiences h3 {
    grid-area: A;
}

#experiences div{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
      "A B "
      "C C ";
}

#experiences div h4{
    margin-top: 1rem;
    grid-area: A;
}

#experiences div div{
    display: flex;
    grid-area: B;
    justify-content: end;
    color: lightgray;
}

#experiences div p{
    grid-area: C;
}

.experience-location{
    margin-right: 0.5rem;
}

#education{
    font-size: 0.8rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
      "A B "
      "A B ";
}

#education h3 {
    grid-area: A;
}

#education div{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
      "A B "
      "C C ";
}

#education div h4{
    margin-top: 1rem;
    grid-area: A;
}

#education div div{
    display: flex;
    grid-area: B;
    justify-content: end;
    color: lightgray;
}

#education div p{
    grid-area: C;
}

#contact {
    justify-content: center;
    margin-top: 4rem;
}

#contact h3 {
    display: none;
}



.contacts {
    display: flex;
}

.contact {
    margin: 0px 1rem 0 1rem;
    width: 70px;
    height: 70px;
}

.contact-value {
    display: none;

}

.contact-email{
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
}
.contact-skype, .contact-value{
    display: none;
}
.contact-phone{
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
}
.contact-github{
    background-image: url(../images/github.png);
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
}
.contact-facebook{
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    color: transparent;
    background-size: 100%;
}
.contacts{
    display: flex;
}

.contact-type {
    display: none;
}


[data-skill="5"]::after {
    content: '\2605' '\2605' '\2605'  ;
    font-size: 0.7rem;
}

[data-skill="3"]::after {
    content: '\2605' '\2605' ;
    font-size: 0.7rem;
}

[data-skill="1"]::after {
    content: '\2605';
    font-size: 0.7rem;
}

[data-skill="9"]::after {
    content: '\2605' '\2605' '\2605' '\2605' '\2605';
}

[data-skill="8"]::after {
    content: '\2605' '\2605' '\2605' ;
}

[data-skill="7"]::after {
    content: '\2605' '\2605' '\2605' '\2605' ;
}

img{
    
    transform: rotate(20deg);
}





